/*change dot size and color in slick.js*/

.slick-dots li button:before {
	font-size: 120px;
    content: '.';
	color: white;
}
.slick-dots li.slick-active button:before
{
	font-size: 120px;
    content: '.';
	color: white;
}
body {
	background-color: black;
}

img {
	margin: auto;
}

figcaption {
	color: lightgray;
	margin: auto;
	width: 600px;
	text-align: center;
}